<div class="container">
  <div class="image-container">
    <button mat-icon-button class="close-button">
      <mat-icon>close</mat-icon>
    </button>
    <img src="../public/images/image.png" alt="Post Image" />
  </div>
  <div class="details-container">
    <div class="post-header">
      <div class="profile-pic"></div>
      <div class="post-info">
        <span class="username">Mạnh Mèo</span>
        <span class="post-date">July 28, 2022</span>
      </div>
<!--      <div class="post-options"></div> // phải sửa -->
    </div>
    <div class="post-content">
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at</p>
      <span class="likes">856 likes</span>
    </div>
    <div class="post-actions"> <!-- phải sửa -->
      <button mat-icon-button><span class="material-symbols-outlined">favorite</span></button>
      <button mat-icon-button><span class="material-symbols-outlined">comment</span></button>
      <button mat-icon-button><mat-icon>ios_share</mat-icon></button>
      <button mat-icon-button><mat-icon>bookmark</mat-icon></button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <input matInput placeholder="Type your comment here...">
      <mat-icon matSuffix>send</mat-icon>
    </mat-form-field>

    <div class="comments-section">
      @for (user of commentUser ; track $index) {
        <div class="comment">
          <div class="profile-pic-small">
            <img src="{{ user.avatar }}">
          </div>
          <div class="comment-content">
            <span class="comment-username">{{user.name}}</span>
            <span class="comment-text">{{user.comment}}</span>
            <span class="comment-date">{{user.date}}</span>
          </div>
        </div>
      }
    </div>
  </div>
</div>
